.navlink{
    margin-left:15px;
    margin-right:15px;
    
    
}



#collasible-nav-dropdown{
    padding: 20;
}

.navbar{
    background-color: #dfc15e;
}
.bg-warning{
    margin: 0;
}